{% extends 'users/userbase.html' %}

{% block title %}
    User Home
{% endblock %}

{% block content %}

<style>
    .jumbotron {
        background: linear-gradient(to right, #3498db, #8e44ad);
        color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .jumbotron h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .jumbotron p {
        font-size: 18px;
        line-height: 1.6;
    }
</style>
<br><br><br><br>
<div class="jumbotron">
    <h1>User Home</h1>
    <p>Article writing involves crafting informative and engaging content for various platforms like newspapers, magazines, and online websites.</p>
    <p>It focuses on presenting factual information, often in a concise manner, to reach a broad audience with varying interests. </p>
    <p>Let's classify the type of article.....</p>
</div>

{% endblock %}
